/* ES 1 */
.ex-1-square {
  transition: background-color 1.5s;
}
.ex-1-square:hover{
  background-color: red;
}

/* ES 2 */
.ex-2-square{
  transition: width 1.5s;
}
.ex-2-square:active{
  width: 100%;
}

/* ES 3 */
.ex-3-square{
  transition: border-radius 1s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

/* ES 4 */
.ex-4-square{
  transition: opacity 1s;
}
.ex-4-square:hover{
  opacity: 0;
}

/* ES 5 */
.ex-5-square{
  transition: transform 1000ms;
}
.ex-5-square:hover{
  transform: scale(2);
}
.ex-5-square:active{
  transform: scale(0.5);
}

/* ES 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* ES 7 */
.ex-7-img{
  transition: filter 2s;
}
.ex-7-img:hover{
  filter: sepia(0.6) grayscale(0.5);
}

/* ES 8 */
.ex-8-img{
  transition: filter 2s, border-radius 1s;
}
.ex-8-img:hover{
  filter: sepia(0.8) grayscale(0.5);
  border-radius: 20px;
}

/* ES 9 */
.ex-9-img{
  transition: filter 2s, border-radius 1s, transform 1s;
}
.ex-9-img:hover{
  filter: sepia(0.8) grayscale(0.5);
  border-radius: 20px;
  transform: scale(1.5);
}

/* ES 10 */
.ex-10-icon{
  animation: rotazione 1s infinite linear;
}
@keyframes rotazione {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* ES 11 */
.ex-11-icon:hover{
  animation: rotazione2 2s linear;
}
@keyframes rotazione2 {
  0%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* ES 12 */
.ex-12-button:hover .ex-12-top-white{
  animation: sopra 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white{
  animation: sotto 2s linear;
}
@keyframes sopra {
  50%{
    left: calc(100% - 60px);
  }
}
@keyframes sotto {
  50%{
    right: calc(100% - 60px);
  }
}

/* ES 13 */
.ex-13-button:hover .ex-13-top-white{
  animation: sopra2 2s linear 2;
}
.ex-13-button:hover .ex-13-bottom-white{
  animation: sotto2 2s linear 2;
}
@keyframes sopra2 {
  0%{
    top: -10px;
    left: 10%;
  }
  30%{
    left: calc(100% - 55px);
    top: -10px;
  }
  47.28%{
    top: calc(100% - 10px);
    left: calc(100% - 55px);
  }
  82.28%{
    top: calc(100% - 10px);
    left: -5px;
  }
  94.56%{
    top: -10px;
    left: -5px;
  }
  100%{
    top: -10px;
    left: 10%;
  }
}
@keyframes sotto2 {
  0%{
    bottom: -10px;
    right: 10%;
  }
  30%{
    right: calc(100% - 55px);
    bottom: -10px;
  }
  47.28%{
    bottom: calc(100% - 10px);
    right: calc(100% - 55px);
  }
  82.28%{
    bottom: calc(100% - 10px);
    right: -5px;
  }
  94.56%{
    bottom: -10px;
    right: -5px;
  }
  100%{
    bottom: -10px;
    right: 10%;
  }
}
